MISTRAL_API_KEY=
GLM_API_KEY=
FIRECRAWL_API_KEY=
SPIDER_API_KEY=
ZYTE_API_KEY=
SUPADATA_API_KEY=

ASSEMBLYAI_API_KEY=
GLADIA_API_KEY=
DEEPGRAM_API_KEY=
SONIOX_API_KEY=
SPEECHMATICS_API_KEY=
DEEPINFRA_API_KEY=
HAPPYSCRIBE_API_KEY=
SCRAPECREATORS_API_KEY=

OPENAI_API_KEY=
ANTHROPIC_API_KEY=
GEMINI_API_KEY=
XAI_API_KEY=
KIMI_API_KEY=
TOGETHER_API_KEY=

LTXV_API_KEY=
BFL_API_KEY=
LUMA_AGENTS_API_KEY=
ELEVENLABS_API_KEY=
MINIMAX_API_KEY=
SPEECHIFY_API_KEY=
HUME_API_KEY=
CARTESIA_API_KEY=
INWORLD_API_KEY=
REPLICATE_API_TOKEN=
FAL_API_KEY=
STABILITY_API_KEY=

X_BEARER_TOKEN=
