docs/links
!docs/links/.gitkeep
docs/templates
docs/todo

docs/reports/00-env-vars-report-*.md
docs/reports/02-clean-deps-bun-report-*.md
docs/reports/01-deps-report-*.md
docs/reports/01-deps-report-*.md
docs/reports/*

.DS_Store
node_modules/
*.env
*.log
**/*/__pycache__
output/
Library/
runtime/*
project/test-output
.env.local

**/*.webp
**/*.png
**/*.jpg
**/*.jpeg
**/*.mp3
**/*.mp4
**/*.wav

input/*
!input/examples/
input/examples/*
!input/examples/audio/
!input/examples/batch/
!input/examples/comic/
!input/examples/document/
!input/examples/lyrics/
!input/examples/tts/
input/examples/audio/*
input/examples/batch/*
input/examples/comic/*
input/examples/document/*
input/examples/lyrics/*
input/examples/tts/*

!input/examples/audio/0-audio-short.mp3
!input/examples/audio/1-audio.mp3
!input/examples/audio/anthony-voice.mp3
!input/examples/batch/2-direct-urls.md
!input/examples/batch/2-urls.md
!input/examples/batch/example-rss-feeds.md
!input/examples/comic/01-registry-check.md
!input/examples/comic/README.md
!input/examples/document/1-document.jpg
!input/examples/document/1-document.pdf
!input/examples/document/1-document.png
!input/examples/document/1-docx.docx
!input/examples/document/1-epub.epub
!input/examples/document/1-odt.odt
!input/examples/document/1-pptx.pptx
!input/examples/document/1-xlsx.xlsx
!input/examples/document/3-document.pdf
!input/examples/document/4-document.pdf
!input/examples/document/30-document.pdf
!input/examples/document/protected.pdf
!input/examples/lyrics/01-cover.jpeg
!input/examples/lyrics/01-example-song.mp3
!input/examples/lyrics/01-example-song.txt
!input/examples/tts/0-tts-short.txt
!input/examples/tts/1-tts.md
!input/examples/tts/tts-dialogue.txt
